.navbar-style {
    background-color: #686666;
    /* font-family: 'Times New Roman', Times, serif; */
}

.icon-style {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 11px;
    cursor: pointer;
}